# macOS
.DS_Store
**/.DS_Store
__MACOSX/

# Arquivos compilados
*.o
*.d
*.out

# Pastas de build/objetos
obj/
**/obj/
build/
**/build/

# Executáveis gerados
servidor
API/servidor_api
servidor_api

# Testes compilados
test_poker
teste_poker
**/test_poker
**/teste_poker

# Doxygen gerado
docs/html/
docs/latex/
html/
latex/

# VSCode local
.vscode/